
<div class="navbar-fixed-top containe purple topBotomBordersOut">
    <a routerLink="/Home">HOME</a>
    <a routerLink="/Login">LOGIN</a>
    <a routerLink="/Contact">CONTACT</a>
    <a>ABOUT US</a>
    <a>HELP</a>
    <a routerLink="/FAQ">FAQ</a>
</div>

<section class="contact">
    <div class="content">
        <h2>Contact Us</h2>
    </div>
    <div class="container">
        <div class="contactInfo">
            
            <div class="box">
                <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                <div class="text">
                    <h3>Phone</h3>
                    <p style="color:slateblue;padding: 1px;">507-475-6094</p>
                </div>
            </div>
            <div class="box">
                <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                <div class="text">
                    <h3>Email</h3>
                    <p style="color:slateblue;">myfirstinsurance@gmail.com</p>
                </div>
            </div>
            <div class="box">
                <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                <div class="text">
                    <h3>Address</h3>
                    <p style="color:slateblue;">LTI Powai,Mumbai:400087</p>
                </div>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3769.5980900672657!2d72.8919773149019!3d19.12527978705964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c80e4988253f%3A0xf8fe3fa4bb6547c!2sL%26T%20Infotech%20Limited%20-%20LTI!5e0!3m2!1sen!2sin!4v1606494451857!5m2!1sen!2sin"
          width="70%" height="200px" frameborder="0" style="border:0"></iframe>
        </div>
        <div class="contactForm">
            <form>
                <h2>Contact Us</h2>
                <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span>Full Name</span>
                </div>
                <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span>Email</span>
                </div>
                <div class="inputBox">
                    <input type="number" name="" required="required">
                    <span>Contact</span>
                </div>
                <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span>Subjext</span>
                </div>
                <div class="inputBox">
                    <textarea required="required"></textarea>
                    <span>Type Your Message.....</span>
                </div>
                <div class="inputBox">
                    <input type="submit" name="" value="Send">
                </div>
            </form>
        </div>
    </div>
</section>