<div class="navbar-fixed-top containe purple topBotomBordersOut">
    <a routerLink="/Home">HOME</a>
    <a routerLink="/Login">LOGIN</a>
    <a routerLink="/Contact">CONTACT</a>
    <a>ABOUT US</a>
    <a>HELP</a>
    <a routerLink="/FAQ">FAQ</a>
</div>

<div class="bg-contact3" style="background-image: url('../../assets/Images/car.jpg');">
    <div class="container-contact3">
        <div class="wrap-contact3">
            <form class="contact3-form validate-form">
                <span class="contact3-form-title">
                    Buy Insurance
                </span>

                <div class="wrap-contact3-form-radio">
                    <div class="contact3-form-radio m-r-42">
                        <input class="input-radio3" id="radio1" type="radio" name="choice" value="say-hi" checked="checked">
                        <label class="label-radio3" for="radio1">
                            4 Wheeler
                        </label>
                    </div>

                    <div class="contact3-form-radio">
                        <input class="input-radio3" id="radio2" type="radio" name="choice" value="get-quote">
                        <label class="label-radio3" for="radio2">
                            2 Wheeler 
                        </label>
                    </div>
                </div>

                <div class="wrap-input3 validate-input" data-validate="This field is required">
                    <input class="input3" type="text" name="name" placeholder="Enter Car/Bike Manufacturer" required/>
                    <span class="focus-input3"></span>
                </div>

                <div class="wrap-input3 validate-input" data-validate = "Valid field is required: abc123">
                    <input class="input3" type="text" name="email" placeholder="Enter Car/Bike Model" required/>
                    <span class="focus-input3"></span>
                </div>
                
                <div class="wrap-input3 validate-input" data-validate = "Valid field is required: MH02 123">
                    <input class="input3" type="text" name="email" placeholder="Enter Driving Licence" required/>
                    <span class="focus-input3"></span>
                </div>
                
                <div class="wrap-input3 validate-input" data-validate = "This field is required">
                    <input class="input3" type="text" name="email" placeholder="Enter Purchase Date" required/>
                    <span class="focus-input3"></span>
                </div>
                
                <div class="wrap-input3 validate-input" data-validate = "Valid field is required: 1234">
                    <input class="input3" type="text" name="email" placeholder="Enter Registration Number" required/>
                    <span class="focus-input3"></span>
                </div>
                
                <div class="wrap-input3 validate-input" data-validate = "Valid field is required: 1234">
                    <input class="input3" type="text" name="email" placeholder="Enter Engine Number" required/>
                    <span class="focus-input3"></span>
                </div>

                <div class="wrap-input3 validate-input" data-validate = "Valid field is required: abc1234">
                    <input class="input3" type="text" name="email" placeholder="Enter Chassis Number" required/>
                    <span class="focus-input3"></span>
                </div>

                <div class="container-contact3-form-btn">
                    <button class="contact3-form-btn" style="align-self: center">
                        <a routerLink="/Plans">Submit</a>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>