<div class="navbar-fixed-top containe purple topBotomBordersOut">
    <a routerLink="/Home">HOME</a>
    <a routerLink="/Login">LOGIN</a>
    <a routerLink="/Contact">CONTACT</a>
    <a>ABOUT US</a>
    <a>HELP</a>
    <a routerLink="/FAQ">FAQ</a>
</div>
<div class="slider">
    <div class = "slide">
        <img src = "../../assets/Images/private-car.jpg">
    </div>
    <div class = "slide">
        <div class = "content">
            <h2>Full Paisa Vasool</h2>
            <p> on car & bike insurance</p>
        </div>
        <img src = "../../assets/Images/insurance.jpg">
    </div>
    <div class = "slide">
        <div class = "content">
            <h2> Great Deals! </h2>
            <p>At Insurance, We Provide Great Deals for students</p>
        </div>
        <img src = "../../assets/Images/studentoffer.jpg">
    </div>
    <div class = "slide">
        <div class = "content">
            <h2> Hello ! </h2>
            <p>At Insurance, We Provide Good Services</p>
        </div>
        <img src = "../../assets/Images/insurance1.jpg">
    </div>
</div>
<div class="contain">
    <table>
        <tr>
        <td>
            <div class="card">
                <div class="circle">
                    <h2> Buy </h2>
                </div>
                <div class="content">
                    <p>
                        Insurance offers protection against accidents, theft, natural calamities & other unforeseen circumstance that could harm your vehicle.
                    </p>
                    <a routerLink="/Buy">Buy Now</a>
                </div>
            </div>
        </td>
        <td>
            <div class="card">
                <div class="circle">
                    <h2> Renew </h2>
                </div>
                <div class="content">
                    <p>
                        Insurance At time of an unforeseen event when you need immediate assistance & support without being burdened by unnecessary delays & long-winded procedures.
                    </p>
                    <a routerLink="/Renew">Renew Now</a>
                </div>
            </div>
        </td>
        <td>
            <div class="card">
                <div class="circle">
                    <h2> Claim </h2>
                </div>
                <div class="content">
                    <p>
                        At time of an unforeseen event when you need immediate assistance & support without being burdened by unnecessary delays & long-winded procedures.
                    </p>
                    <a routerLink="/Claim">Claim Now</a>
                </div>
            </div>
        </td>
        
    </tr>
    </table>
</div>
<h1 style="text-align: center; color: slateblue; font-weight: 700; font-size: 48px;"> Why Insurance? </h1><br>
<div class="contains">
    <div class="box">
        <div class="icon">01</div>
        <div class="contents">
            <h3> Offers coverage for damage to property </h3>
            <p> The risk of damage to your vehicle during an accident cannot be eliminated. The cost of repairs is indeed an expensive affair and may burn a huge hole in your pocket. Purchasing a motor insurance policy prevents such out-of-pocket expenses as your insurance provider will bear a substantial percentage of the cost of repairs. </p>
        </div> 
    </div>
    <div class="box">
        <div class="icon">02</div>
        <div class="contents">
            <h3> Provides coverage for hospitalization costs </h3>
            <p> In case of severe bodily injuries or fractures, you may require treatment at a hospital. A motor insurance plan financially protects you against exorbitant medical costs. It covers all hospitalization expenses, thus allowing you to focus on speedy recovery, instead of worrying about finance. </p>
        </div> 
    </div>
    <div class="box">
        <div class="icon">03</div>
        <div class="contents">
            <h3> Reduces your liability </h3>
            <p> According to the Motor Vehicles Act, it is mandatory to purchase a third-party liability insurance policy in India. This type of insurance policy reduces your liability in case an accident is caused by you. The insurance provider covers all damages caused to third-party property or injuries caused to a third party. </p>
        </div> 
    </div>
    <div class="box">
        <div class="icon">04</div>
        <div class="contents">
            <h3> Compensates the family in case of death </h3>
            <p> Accidents may result in an unfortunate death of the vehicle owner. The family may face financial difficulties in an event of the demise of the policyholder, especially if he/she was the breadwinner of the family. Motor vehicle insurance plans provide a lump sum amount in an event of death. </p>
        </div> 
    </div>

</div>

<h1 style="text-align: center; color: slateblue; font-weight: 700; font-size: 48px;"> Third Party Insurance v/s Comprehensive Insurance </h1><br>
<table class="container">
    <tr>
        <td>
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <br><br>Third Party Insurance 
                    </div>
                    <div class="back">
                        Low-cost motor insurance cover against personal injury and property damage liabilities to third parties in the event of an accident.
                    </div>
                </div>
            </div>
        </td>
        <td>
            <div class="flip-container">
                <div class="flipper">
                    <div class="front">
                        <br><br>
                        Comprehensive Insurance
                    </div>
                    <div class="back">
                        Complete insurance protection for your car, from the region's best insurer. Wide range of benefits and a host of additional covers.
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>

<footer class="page-footer font-small mdb-color pt-4">
    <!-- Footer Links -->
    <div class="text-center text-md-left">
      <!-- Footer links -->
      <div class="row text-center text-md-left mt-3 pb-3" style="background-color: slateblue;">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3" style="color: blanchedalmond;">
          <h6 class="text-uppercase mb-4 font-weight-bold" style="font-size: x-large;">Company name</h6>
          <p style="font-size: large;">
            LTI Vehicle Insurance recognizes the importance of your vehicle and offers motor Insurance policies that take care of your vehicles in case of any unforeseen event.
          </p>
        </div>
        <!-- Grid column -->
  
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3" style="color: blanchedalmond;">
          <h6 class="text-uppercase mb-4 font-weight-bold" style="font-size: x-large;">Company</h6>
          <p style="font-size: large;">
            <a href="#!" style="color: blanchedalmond; text-decoration: none;">Customer</a>
          </p>
          <p style="font-size: large;">
            <a href="#!" style="color: blanchedalmond;text-decoration: none;">Car Insutance</a>
          </p>
          <p style="font-size: large;">
            <a href="#!" style="color: blanchedalmond;text-decoration:none;">Bike Insurance</a>
          </p>
          <p style="font-size: large;">
            <a href="#!" style="color: blanchedalmond;text-decoration: none;">Policy Rate</a>
          </p>
        </div>
        <!-- Grid column -->
  
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3" style="color: blanchedalmond;">
          <h6 class="text-uppercase mb-4 font-weight-bold" style="font-size: x-large;">Useful links</h6>
          <p style="font-size: large;">
            <a href="#!" style="color: blanchedalmond;text-decoration: none;">Your Account</a>
          </p>
          <p style="font-size: large;">
            <a href="#!" style="color: blanchedalmond;text-decoration: none;">About Us</a>
          </p>
          <p style="font-size: large;">
            <a  href="#!" style="color: blanchedalmond;text-decoration: none;">Insurance Rates</a>
          </p>
          <p style="font-size: large;">
            <a href="#!" style="color: blanchedalmond;text-decoration: none;">Help</a>
          </p>
        </div>
  
        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold" style="font-size: x-large; color: blanchedalmond;">Contact</h6>
          <p style=" font-size: large; color: blanchedalmond;">
            <i class="fa fa-home"></i> India, Delhi</p>
          <p style="font-size: large; color: blanchedalmond;">
            <i class="fa fa-envelope"></i> info@gmail.com</p>
          <p style="font-size: large; color: blanchedalmond;">
            <i class="fa fa-phone"></i> + 022 - 234 567 88</p>
          <p style="font-size: large; color: blanchedalmond;">
            <i class="fa fa-print"></i> + 022 - 234 567 89</p>
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Footer links -->
      <!-- Grid row -->
      <div class="row d-flex align-items-center" style="background-color: white;">
        <!-- Grid column -->
        <div class="col-md-7 col-lg-8">
          <!--Copyright-->
          <p class="text-center text-md-left" style="color: black; font-size: larger;">© 2020 Copyright:
            <a href="https://mdbootstrap.com/">
              <strong style="color: slateblue;"> CarInsurance.com</strong>
            </a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-5 col-lg-4 ml-lg-0">
  
          <!-- Social buttons -->
          <div class="text-center text-md-right">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item">
                <span><a href="#" class="fa fa-twitter"></a></span>
              </li>
              <li class="list-inline-item">
                <span><a href="#" class="fa fa-youtube"></a></span>
              </li>
              <li class="list-inline-item">
                <span><a href="#" class="fa fa-facebook"></a></span>
              </li>
              <li class="list-inline-item">
                <span><a href="#" class="fa fa-linkedin"></a></span>
              </li>
            </ul>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Links -->
  </footer>
