<div class="navbar-fixed-top containe purple topBotomBordersOut">
    <a routerLink="/Home">HOME</a>
    <a routerLink="/Login">LOGIN</a>
    <a routerLink="/Contact">CONTACT</a>
    <a>ABOUT US</a>
    <a>HELP</a>
    <a routerLink="/FAQ">FAQ</a>
</div>

<div class="bg-contact3" style="background-image: url('../../assets/Images/car.jpg');">
    <div class="container-contact3">
        <div class="wrap-contact3">
            <form class="contact3-form validate-form">
                <span class="contact3-form-title">
                    Plans
                </span>

                <div class="wrap-contact3-form-radio">
                    <div class="contact3-form-radio m-r-42">
                        <input class="input-radio3" id="radio1" type="radio" name="choice" value="say-hi" checked="checked">
                        <label class="label-radio3" for="radio1">
                            Third Party
                        </label>
                    </div>

                    <div class="contact3-form-radio">
                        <input class="input-radio3" id="radio2" type="radio" name="choice" value="get-quote">
                        <label class="label-radio3" for="radio2">
                            Comprehensive 
                        </label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group ">
                        <div class="wrap-input3 form-select">
                            <select class ="mdb-select md-form" style="margin-bottom: 8px;" name="period" id="period" required>
                                <option value="" selected>Chose Your Period</option>
                                <option value="ap">One Year</option>
                                <option value="ar">Two Year</option>
                                <option value="as">Three Year</option>
                            </select>
                            <span class="select-icon"><i class="zmdi zmdi-caret-down"></i></span>
                        </div>
                    </div>
                </div>
                <div class="container-contact3-form-btn">
                    <button class="contact3-form-btn" style="align-self: center">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>