<div class="navbar-fixed-top containe purple topBotomBordersOut">
    <a routerLink="/Home">HOME</a>
    <a routerLink="/Login">LOGIN</a>
    <a routerLink="/Contact">CONTACT</a>
    <a>ABOUT US</a>
    <a>HELP</a>
    <a routerLink="/FAQ">FAQ</a>
</div>

<div class="bg-contact3" style="background-image: url('../../assets/Images/car.jpg');">
    <div class="container-contact3">
        <div class="wrap-contact3">
            <form class="contact3-form validate-form">
                <span class="contact3-form-title">
                    Claim Insurance
                </span>

                <div class="wrap-input3 validate-input" data-validate="This field is required">
                    <input class="input3" type="text" name="policyno" placeholder="Enter Policy Number" required/>
                    <span class="focus-input3"></span>
                </div>
                
                <div class="wrap-input3 validate-input" data-validate = "Valid field is required: MH02 123">
                    <input class="input3" type="text" name="mobile" placeholder="Enter Mobile Number" required/>
                    <span class="focus-input3"></span>
                </div>
                
                <div class="form-row">
                    <div class="form-group ">
                        <div class="wrap-input3 form-select">
                            <select class ="mdb-select md-form" style="margin-bottom: 8px;" name="reason" id="reason" required>
                                <option value="" selected>Claim Reason</option>
                                <option value="ap">Natural Disaster</option>
                                <option value="ar">Man Made Disaster</option>
                                <option value="as">Road Accident</option>
                                <option value="bh">Theft</option>
                            </select>
                            <span class="select-icon"><i class="zmdi zmdi-caret-down"></i></span>
                        </div>
                    </div>
                </div>
                <div class="container-contact3-form-btn">
                    <button class="contact3-form-btn" style="align-self: center">
                        Claim
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>